@model AcutePediatricsOrientation.ViewModels.EditPackageViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="CreateCategory">Create New</a>
</p>
@foreach (var category in Model.Categories)
{
<div class="panel panel-primary">
    <div class="panel-heading">@Html.DisplayFor(modelItem => category.Name)</div>
    <div class="panel-body">
        <p style="margin-bottom: 20px">
            <a asp-action="CreateTopic" asp-route-id="@category.Id">Create New Topic</a> |
            <a asp-action="DeleteCategory" asp-route-id="@category.Id">Delete Category</a> |
            <a asp-action="EditCategory" asp-route-id="@category.Id">Edit Category</a>
        </p>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th width="50%">
                        Topic
                    </th>
                    <th width="50%">
                        Documents / Links
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var topic in category.Topics)
                {
                    <tr>
                        <td>
                            <p>
                                <span style="display: inline-block; width: 400px;">@Html.DisplayFor(modelItem => topic.Name)</span>
                                <a asp-action="EditTopic" asp-route-id="@topic.Id">Edit</a>
                                <span>|</span>
                                <a asp-action="DeleteTopic" asp-route-id="@topic.Id"> Delete </a>
                            </p>
                        </td>

                        <td>
                            <p style="text-align:center"><a asp-action="CreateDocument" asp-route-id="@topic.Id">Add Document</a></p>
                            @foreach (var document in topic.Documents)
                            {
                                <p>
                                    <span style="display: inline-block; width: 400px;">@document.Name</span>
                                    <a asp-action="Edit" asp-route-id="@topic.Id">Edit</a>
                                    <span>|</span>
                                    <a asp - action="Delete" asp-route-id="@topic.Id"> Delete </a>
                                </p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}
