@model AcutePediatricsOrientation.ViewModels.EditPackageViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Documents
            </th>
            <th>
                Edit, Delete, Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <h1>@Html.DisplayFor(modelItem => category.Name)</h1>

            @foreach (var topic in category.Topics)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => topic.Name)
                </td>

                <td>
                     @foreach (var document in topic.Documents)
                    {
                        <p>@document.Name</p>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@topic.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@topic.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@topic.Id">Delete</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
